@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
/* ************************** */
/* Root */
/* ************************** */
:root {
  --clr-primary: hsla(136, 53%, 59%, 1);
  --clr-text: hsla(216, 8%, 12%, 1);
  --clr-black: hsla(216, 8%, 12%, 1);
  --clr-text-inactive: hsla(231, 6%, 58%, 1);
  --clr-bg-overlay: hsla(247, 13%, 25%, 0.22);
}
/* Resets */
html {
  font-size: 12px;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background: var(--clr-main-bg);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
img {
  max-width: 100%;
  display: block;
}
